<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <header id="navbar"></header>

    <h1>Dashboard Administrador</h1>


















    <!-- conecta con middleware -->
    <script type="module" src="../../middleware/auth.js"></script>

    <script type="module" src="../../middleware/admin.js"></script>

    <!-- conecta con los guards -->
    <script type="module" src="../../../public/js/guards/auth-guard.js"></script>

    <script type="module" src="../../../public/js/guards/admin-guard.js"></script>

    <script type="module" src="../../../public/js/components/navbar.js"></script>
  </body>
</html>
